# fly.toml app configuration file generated for grading-system on 2026-02-06T13:50:04+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'grading-system'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 8081
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "grading_data"
  destination = "/app/data"

[[vm]]

  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
